$black: #000;
$white: #fff;
$teal: rgb(12, 150, 81);
.pickerScreen {
  position: relative;
  background: $black;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.timer {
  position: relative;
  display: inline-block;
  background: white;
  // margin-bottom: 2vw;
  padding: 0.5vw 3vw;
}
.colorDistance {
  position: relative;
  display: inline-block;
  background: white;
  margin-bottom: 2vw;
  padding: 0.5vw 3vw;
}
.canvasContainer {
  position: relative;
  .picker-canvas {
    cursor: pointer;
  }
  .marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #000;
  }
}
.pickerHeadBar {
  background-color: $teal;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  justify-self: center;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-bottom: 2.5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: $teal;
    top: 0;
    left: 0;
    clip-path: polygon(50% 0%, 50% 100%, 0% 50%);
    transform: translateX(-50%);
    border: none;
  }
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: $teal;
    top: 0;
    right: 0;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%);
    transform: translateX(50%);
    border: none;
  }
  .cluesWord {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $white;
    padding: 0vw 4vw;
    transform: translateY(-50%);
    margin-left: 0.633vw;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 6px;
    text-transform: uppercase;
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      aspect-ratio: 1/1;
      background-color: $white;
      top: 0;
      left: 0;
      clip-path: polygon(50% 0%, 50% 100%, 0% 50%);
      transform: translateX(-50%);
      border: none;
    }
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      aspect-ratio: 1/1;
      background-color: $white;
      top: 0;
      right: 0;
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%);
      transform: translateX(50%);
      border: none;
    }
  }
  .pickerHints {
    color: $white;
  }
}