body {
  font-family: "Poppins", sans-serif;
  background: url("../components/images/Background.svg");
}
.game {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.room-code {
  cursor: pointer;
}
.leave-btn {
  position: relative;
  z-index: 10;
}
.player-color-block {
  vertical-align: middle;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.disconnected {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.show {
  display: block;
}
.hide {
  display: none;
}
.toggle {
  top: 10px;
  float: right;
  position: fixed;
  margin: 10px;
  z-index: 1000;
}
.wrapper {
  position: relative;
}
.players {
  position: absolute;
  top: 100px;
  right: 0;
}
.cr-btn {
  border: none;
  padding: 0.3vw 2vw;
  position: relative;
  color: #262626;
  background: url("images/BtnBg.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  aspect-ratio: 3/1;
}
.cr-input {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.7vw 1vw;
}
.cr-input-var-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cr-input-var-group .cr-minus-btn {
  border: none;
  padding: 0.3vw 2vw;
  position: relative;
  color: #262626;
  background: url("images/MinusBg.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  aspect-ratio: 3/1;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 2;
}
.cr-input-var-group .cr-plus-btn {
  border: none;
  padding: 0.3vw 2vw;
  position: relative;
  color: #262626;
  background: url("images/PlusBg.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  aspect-ratio: 3/1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.cr-input-var-group .cr-input-var {
  position: relative;
  display: block;
  padding: 0.2vw 3vw;
  background-color: #4c4c4c;
  border: none;
  width: 200px;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  font-size: 24px;
}
.cr-label {
  width: 10vw;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  background: url("images/TagBg.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  aspect-ratio: 8.5/1;
}
.cr-stick-label {
  -webkit-transform: translate(3.9rem, -4.7rem);
          transform: translate(3.9rem, -4.7rem);
}
.home {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
}
.homeCard {
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.gameForm {
  width: 57vw;
  background-color: #262626;
  padding: 5.34vw 8.9vw;
}
.gameForm .form-label {
  color: #eeeeee;
}
.hostControlsContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 3vw;
}
.hostControlsContainer .hostControls {
  background-color: #262626;
  padding: 5.34vw 8.9vw;
  width: 57vw;
}
.gameCodeGroup {
  position: relative;
}
.gameCodeGroup .gameCodeLabel {
  margin-left: 2.4rem;
}
.gameCodeGroup .gameCodeInput {
  width: 23.4rem;
  margin: 0 1rem 0 2.4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.markers {
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.markers .d-flex {
  width: 50px;
}
.markers .marker .markerNo {
  width: 50px;
  border: 1px solid black;
  padding: 0vw;
  font-size: 8px;
  text-align: center;
}
.markers .marker .markTriangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid black;
  margin-top: 0.3rem;
}
/*# sourceMappingURL=game.css.map */